.navkir {
    background-color: whitesmoke;
    width: 350px;
    height: 1024px;

}

.judul {
font-weight: 500;
font-size: 29px;
color: #7E98DF;
text-align: start;
margin-left: 20px;
padding-top: 17px;
}

.gambar {
    border-radius: 30px;
    width: 82px;
}

.gambarr {
    border-radius: 15px;
    width: 60px;
    margin: 10px;
}

.nama {
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.tag {
    color: #848484;
    font-weight: 400;
font-size: 16px;
}

.isiann {
    display: flex;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 0;
}

.navlink {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: 500;
    margin: 25px
}

.navlink:hover{
    background-color: #7E98DF;
    border-radius: 5px;
    color: white;
}

.footer {
    background-color: #7e98df80;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 100px;
}

.message {
    width: 60%;
    display: flex;
    height : 50px;
    background-color: white;
    border-radius: 10px;
    border: 0px;
    margin: 20px;
}

.tombol {
    position: absolute;
    left: 860px;
    top: 30px;
    border: 0;
    background-color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    color: #848484;
}

.tombol:hover {
    background-color: #7E98DF;
    color: white;
    border-radius: 5px;
}

.card {
    /* background-color: aqua; */
}

.isi{
    display: flex;
    align-items: center;
}

.namegrup {
    text-decoration: none;
    color: #848484;
}

.header {
    background-color: #7e98df80;
    width: 100%;
    top: 0;
    position: fixed;
    height: 50px;
}

.isiheader {
    display: flex;
    font-weight: bold;
    margin: 10px;
}

.tandaplus{
    /* Rectangle 12 */

position: absolute;
width: 3px;
height: 23px;
left: 310px;
top: 345px;

background: #7E98DF;
border-radius: 10px;


/* Rectangle 13 */


}

.tandaplus2{
    position: absolute;
width: 3px;
height: 23px;
left: 323px;
top: 355px;

background: #7E98DF;
border-radius: 10px;
transform: rotate(90deg);
}

.daftar{
    cursor: pointer;
    display: flex;
    font-weight:700;
    font-size: larger;
    border-radius: 15px;
    margin-left: 15px;
    /* justify-content: center; */
    align-items: center;
    width: 90%;
    background-color:#7E98DF;
    height: 100px;
    margin-bottom: 15px;
}

.sendiri{
    /* display: flex;
    justify-content: flex-end; */
    background-color:#7E98DF;
    margin: 5px;
    text-align: right;
    /* width: fit-content; */
    padding: 2px;
    padding-inline: 8px;
    border-radius: 15px;
}

.dalam{
    display: flex;
    flex-direction: column;
    margin-right: 0;
    text-align: right;
    /* background-color:#7E98DF; */
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

.lebih{
    margin-inline: auto;
    /* background-color: #848484; */
    display: flex;
    row-gap: 100px;
    /* height: fit-content; */
    justify-content: end;
    height: fit-content;
    width: 80%;

}

.lebih2{
    margin-inline: auto;
    /* background-color: #848484; */
    display: flex;
    /* height: fit-content; */
    justify-content: start;
    width: 80%;

}


.teman{
    /* background-color: yellow; */
    text-align: left;
}

.lembar{
    width: 1000px;
    /* background-color: orange; */
}